/* font */
body {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 16px;
}
h1, h2 {
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 300;
}
h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: .5rem;
}

/* icons */
.material-icons {
    position: relative;
    top: 5px;
}

/* spacing */
.container {
    max-width: 960px;
    margin-left:auto; 
    margin-right: auto;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}